.square {
	text-align: justify;
	height: 70px;
	width: 70px;
	cursor: pointer;
	color: black;
}

.table, tr, td {
	padding: 0px;
	border-collapse: collapse;
	 border: 1px solid black;

}
.table tr {
	.padding: 0px;
	.margin: 0px;

}
.table td {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.btn {
	padding: 0px;
	margin: 0px;
}

.btn2 {
	width: 99px;
	margin-right: 2px;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}
.history {
	margin-left: 20px;
	width: 300px;
}
ul li {
	margin-bottom: 2px;
	list-style: none;
	list-style-type: none;
	text-align: left;
}

.button {
	width: 200px;
}

.piece { 
 background-image: url(images/chesspiece.png); 
 background-position: 0 60px; 
 width: 60px; 
 height: 60px;
}